header {
    background-color: #65743A;
    height: 130px;
    border-left: #3F4924 2.3721275019vw solid;
    border-right: #3F4924 2.3721275019vw solid;
    border-bottom: #65743A 1px solid;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: flex;
  
    nav {
        width: 100%;
        display: flex;
        flex-direction: row;

        .header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            font-size: 25px !important;
            align-self: baseline;
            width: 90%;
            
            .logo {
                height: 100px !important;
                transition: all 0.3s;
            
                &:hover {
                    transform: scale( 1.1, 1.1 );
                }
            }
            a {
                color: #C6C5B9;

                .header_li_1 {
                    transform: scale(1, 1);
                    transition: all 0.3s;
                    font-size: 20px !important;
    
                    &:hover {
                        transform: scale(1.1, 1.1);
                    }
                }
            }
          
        }
        .accordion-item {
            width: 10%;
            display: flex;
            flex-direction: column;

            .accordion-header {
                align-self: center;
                margin-top: 57px;
            }
            .accordion-body-container {

                .accordion-body {
                    margin-top: 57px;
                    background-color: #798b48;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    width: 100%;

                    a {
                        color: #C6C5B9;
                        display: flex;
                        justify-content: center;

                        .header_li_1 {
                            transform: scale(1, 1);
                            transition: all 0.3s;
                            font-size: 17px !important;
                            padding-bottom: 5px;
                            padding-top: 5px;
            
                            &:hover {
                                transform: scale(1.1, 1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media ( max-width: 739px ) {
    header {
        nav {
            .header {
                width: 80%;
            }
            .accordion-item {
                width: 20%;
            }
        }
    }
}

@media ( max-width: 644px ) {
    header {
        nav {
            .header {
                width: 77%;
            }
            .accordion-item {
                width: 23%;
            }
        }
    }
}

@media ( max-width: 429px ) {
    header {
        nav {
            .header {
                width: 70%;
            }
            .accordion-item {
                width: 30%;
            }
        }
    }
}

/* @media ( max-width: 365px ) {
    header {
        nav {
            .accordion-item {
                .accordion-body-container {
                    .accordion-body {
                        width: 97.6278724981vw;
                    }
                }
            }
        }
    }
} */